<div id="competences" class="inner">
  <div id="overall" class="outer">
    <div id="core" class="grouping">
      <h2>Core</h2>
      <%= partial "core_values", :locals => { :decision => "core_values" } %>
    </div>
    <div id="purpose" class="inner">
      <h3>Core Purpose</h3>
      <%= partial "core_purpose", :locals => { :decision => "core_purpose" } %>
    </div>    
  <h3>Core Competences</h3>
  <%#= partial "core_competences", :locals => { :decision => "core_competences" } %>
</div>
<div id="North Star" class="grouping">
  <h2>North Star Metrics</h2>
  <div id="impact" class="inner">
    <h3>Growth North Star</h3>
    <%#= partial "north_star_growth", :locals => { :decision => "north_star" } %>
  </div>
  <div id="impact" class="inner">
    <h3>Efficiency North Star</h3>
    <%#= partial "north_star_efficiency", :locals => { :decision => "north_star" } %>
  </div>
</div>

<div id="objectives" class="grouping">
  <h2>Objectives</h2>
  <div id="3y" class="inner">
    <h3>3-Year Goals</h3>
    <%#= partial "goals_3y", :locals => { :decision => "core_values" } %>
  </div>
  <div id="1y" class="inner">
    <h3>Annual Goals</h3>
    <%#= partial "goals_1y", :locals => { :decision => "core_values" } %>
  </div>
  <div id="1q" class="inner">
    <h3>Quarterly Goals</h3>
    <%#= partial "goals_1q", :locals => { :decision => "core_values" } %>
  </div>
</div>
</div>