
<% flash.each do |key, value| %>
  <div class="mt-2 alert <%= bootstrap_class_for(key.to_s.sub('_stay', '')) %> alert-dismissible fade show">
    <% if value.is_a?(Array) %>
      <ul>
        <% value.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% else %>
      <%= raw value %>
    <% end %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>

