<div class="row vertical-center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <div class="text-center social-btn">
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-danger' do %>
              <i class="fas fa-sign-out-alt"></i>
              <span>Logout</span>
            <% end %>
          <% else %>
            <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn btn-danger' do %>
              <i class="fab fa-google-plus-g"></i>
              <span>Sign in with <b>Google</b></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
