@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";


.inner,
.outer,
.grouping {
  margin-left: .2rem;
  margin-right: .2rem;
  margin-top: .2em;
  margin-bottom: .2em;
  padding-left: .2rem;
  padding-right: .2rem;
  padding-top: .2rem;
  padding-bottom: .2rem;

  text-align: top;
}

.outer {
  background-color: #ffcccc;
  display: flex;
}

.grouping {
  background-color: #ccffcc;
  display: inline;
  width: 33%;
}

.inner {
  display: inline-block;
  background-color: #ccccff;
  min-height: 100px;
}

.purple {
  @apply: background-purple;
}

dt {
  @apply float-left font-bold clear-both;
}

dd {
  @apply float-left;
}

h1 {
  @apply text-3xl font-sans leading-tight py-8 pb-2;
}

h2 {
  @apply text-2xl font-sans leading-snug pt-6 pb-2;
}

h3 {
  @apply text-xl font-sans leading-snug pt-4 pb-2;
}

.inner h3 {
  @apply bg-blue-300 p-1 -m-1;
}
#page-body ul {
  @apply list-disc list-inside py-0 ml-0;
}

#page-body li {
  @apply -indent-sm ml-4;
}

p {
  @apply py-2;
}

#dropdownmenu li {
  @apply block w-12 list-none;
}

.menubar li {
  @apply inline-block list-decimal p-2;
}

#page-body a {
  @apply text-blue-700 no-underline font-medium;
}

#page-body a:visited {
  @apply text-purple-700 no-underline font-medium;
}

/* 


#dropdownmenu a {
  @apply block font-light rounded px-2 py-1 no-underline;
}

 */
