%div.outer#overall
  %div.grouping#core
    = partial(:"core_values")
    = partial(:"core_purpose")
    = partial(:"core_competences")
  %div.grouping#north_star
    = partial(:"north_star")
    = partial(:"kpi")
  %div.grouping
    .grouping#priorities
      .inner#3y
        swimlanes
      .inner#1y
        objectives
      .inner#1q
        rocks

