---
page-layout: layout
title: Strategic Plan
---


## Knowing where, what and how

Everyone at $COMPANY should understand the big picture of where we are going, what we are doing to get there and how everybody's work fits in. 

This is why we make our strategic plan available to everyone, in a handy one-screen overview.

## $Company Single Screen Strategic Overview

<%= partial 'plan' %>

## Use the SingleScreenPlan to orient yourself

$COMPANY's SingleScreenPlan is the overview map to navigate those questions. It shows the big picture:

- from long-term destinations through mid-term yardsticks to short-term steps
- from starting situation through drivers to expected results


