.inner#key_performance_indicators
  %h3
    = data.kpi.title
  %table
    - data.kpi.functional.each do |function,indicator|
      %tr
        %th= function.capitalize
        %td= indicator.capitalize

