.inner#north_star
  %h3
    = data.north_star.titles.overall
  %dl
    %dt
      = data.north_star.titles.growth
    %dd
      = data.north_star.bhag 
      = data.north_star.key_unit.plural
    %dt
      = data.north_star.titles.efficiency
    %dd
      = data.north_star.profit_margin
      = data.north_star.profit_measure 
      per
      = data.north_star.key_unit.singular.downcase