<!doctype html>
<html lang="en" class="text-gray-900 antialiased leading-tight">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= "#{current_page.data.title}| Midstage Manual" || ' Midstage Manual'  %></title>
  <%# <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet"> %>
  <%= stylesheet_link_tag "styles" %>
  <%= javascript_include_tag "application" %>
</head>

<body class="font-serif leading-normal space-y-6 bg-gray-200">

<%# FIXME move PAGE-HEADER into partial, tried but didn't work yet %>
<!-- START PAGE-HEADER -->
  <div id="header+menu" data-controller='toggle'>
    <header class="bg-gray-900">
      <div class="flex items-center justify-between px-2 py-2">
        <div id="navbar">
          <button id="hamburger" data-action='click->toggle#toggle touch->toggle#toggle' type="button"
            class="inline md:hidden text-gray-400 hover:text-white focus:text-white focus:outline-none">
            <svg class="h-12 w-12 fill-current" viewBox="0 0 24 24">
              <path fill-rule="evenodd"
                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
            </svg>
          </button>
          <div id="menubar"
            class="menubar hidden md:inline-block text-gray-400 hover:text-white focus:text-white px-2 pt-2 pb-2 list-none max-w-full">
            <%= partial 'layouts/navbar'%>
          </div>
        </div>
        <div id="logo">
          <a href="/">
            <%= image_tag 'images/logo_mssm_white_400w.png', class: "h-16"  %>
          </a>
        </div>
      </div>
    </header>
    <%#= dropdownmenu only shows when hamburger button is clicked (only visible on small or medium screens) %>
    <div id="dropdownmenu" data-target='toggle.toggleable'
      class="hidden bg-gray-900 text-gray-400 hover:text-white focus:text-white px-2 pt-2 pb-2 list-none">
      <%= render_partial 'layouts/navbar'%>
    </div>
  </div>

  <!-- START PAGE-BODY -->
  <div id="page-body" class="max-w-md mx-4 md:max-w-full md:mx-12 lg:max-w-full lg:w-2/3 lg:py-24 lg:px-12 lg:mx-auto">
  <% if current_page.data.title %>
    <h1><%= current_page.data.title %></h1>
  <% end %>
    <%= yield %>
  </div>
  
  <!-- START PAGE-FOOTER -->
  <div id="barandfooter" class="fixed bottom-0 w-full m-0">
    <div id="footerbar" class="flex flex-row p-0 m-0 ">
      <hr style="border-top: 0.5rem solid #996699;" width="20%">
      <hr style="border-top: 0.5rem solid #4498b6; background: transparent;" width="20%">
      <hr style="border-top: 0.5rem solid #92b06a; background: transparent;" width="20%">
      <hr style="border-top: 0.5rem solid #e19d29; background: transparent;" width="20%">
      <hr style="border-top: 0.5rem solid #de5f31; background: transparent;" width="20%">
    </div>

    <footer class="flex items-center justify-between p-2 bg-gray-900 text-gray-400 hover:text-white focus:text-white ">

      <%= render_partial 'layouts/footer'%>
      <p class="text-xs text-right">Copyright ©2020 by Scaleup Allies LLC---All rights reserved</p>
    </footer>
  </div>
</body>

</html>